@model SistemaFacturacionMVC.Models.Factura
@{
    ViewData["Title"] = "Eliminar Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Eliminar Factura</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="DeleteFactura">

                <input type="hidden" asp-for="numero_factura" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="codigo_cliente" class="control-label"></label>
                    <select asp-for="codigo_cliente" class="form-control" asp-items="ViewBag.nit" disabled></select>
                </div>

                <div class="form-group">
                    <label asp-for="fecha" class="control-label"></label>
                    <input asp-for="fecha" class="form-control" disabled />
                    <span asp-validation-for="fecha" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="total_factura" class="control-label"></label>
                    <input asp-for="total_factura" class="form-control" disabled />
                    <span asp-validation-for="total_factura" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="anulada" class="control-label"></label>
                    <input asp-for="anulada" class="form-control" disabled />
                    <span asp-validation-for="anulada" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Confirmar" class="btn btn-danger" />
                </div>
            </form>
            <hr />
            <center>
                <div class="col-sm-10">
                    <a class="btn btn-danger d-block" asp-action="Index" asp-controller="Facturas">Regresar</a>
                </div>
            </center>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

