
@{
    ViewData["Title"] = "ErrorRelacional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="/img/ProductoRelacional.jpg" class="img-fluid" alt="No se puede eliminar el Producto">
<hr />
<center>
    <div class="col-sm-10">
        <a class="btn btn-danger d-block" asp-action="Index" asp-controller="Productos">Regresar</a>
    </div>
</center>

